// ALL COLORS
$primary: #DD3D45;
$menu-hover: #EA5E61;
$menu-color: #6E6F6F;
$headings: #1B1F25;
$sub-headings: #36393E;
$all-para: #9AA1A7;
$footer-bg: #343B41;
$footer-headings: #87898B;
$footer-details: #6F7173;
$padding: 0.88rem 0;