*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Archivo', sans-serif;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.flex-direction {
    flex-direction: column;
}

.flex-30 {
    flex-basis: 30%;
}

.flex-45 {
    flex-basis: 45%;
}

.text-center {
    text-align: center;
}

.flex-24 {
    flex-basis: 24%;
}

.flex-15 {
    flex-basis: 13%;
}

.container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 32px;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}